http_interactions:
- request:
    method: GET
    uri: https://api.zotero.org/groups/4937409/items?format=json&limit=1&sort=dateModified&direction=desc
  response:
    status: 200
    headers:
      content-type: application/json
      zotero-api-version: '3'
      zotero-schema-version: '42'
      total-results: '374'
      link: <https://api.zotero.org/groups/4937409/items?limit=1&start=1>; rel="next",
        <https://api.zotero.org/groups/4937409/items?limit=1&start=373>; rel="last",
        <https://www.zotero.org/groups/4937409/items>; rel="alternate"
      last-modified-version: '2053'
    body:
      string: |-
        [
            {
                "key": "UQE2HG8F",
                "version": 2053,
                "library": {
                    "type": "group",
                    "id": 4937409,
                    "name": "Nature Futures Framework",
                    "links": {
                        "alternate": {
                            "href": "https://www.zotero.org/groups/nature_futures_framework",
                            "type": "text/html"
                        }
                    }
                },
                "links": {
                    "self": {
                        "href": "https://api.zotero.org/groups/4937409/items/UQE2HG8F",
                        "type": "application/json"
                    },
                    "alternate": {
                        "href": "https://www.zotero.org/groups/nature_futures_framework/items/UQE2HG8F",
                        "type": "text/html"
                    }
                },
                "meta": {
                    "createdByUser": {
                        "id": 11036046,
                        "username": "TSU_scenarios_models",
                        "name": "",
                        "links": {
                            "alternate": {
                                "href": "https://www.zotero.org/tsu_scenarios_models",
                                "type": "text/html"
                            }
                        }
                    },
                    "creatorSummary": "Oostvogels et al.",
                    "parsedDate": "2024",
                    "numChildren": 0
                },
                "data": {
                    "key": "UQE2HG8F",
                    "version": 2053,
                    "itemType": "journalArticle",
                    "title": "What about the negatives? An integrated framework for revealing diverse values of nature and its conservation",
                    "creators": [
                        {
                            "creatorType": "author",
                            "firstName": "V. J.",
                            "lastName": "Oostvogels"
                        },
                        {
                            "creatorType": "author",
                            "firstName": "B.",
                            "lastName": "Dumont"
                        },
                        {
                            "creatorType": "author",
                            "firstName": "H. J.",
                            "lastName": "Nijland"
                        },
                        {
                            "creatorType": "author",
                            "firstName": "I. J. M.",
                            "lastName": "De Boer"
                        },
                        {
                            "creatorType": "author",
                            "firstName": "R.",
                            "lastName": "Ripoll<U+2010>Bosch"
                        }
                    ],
                    "abstractNote": "Abstract\n            \n              \n                \n                  Taking into account the perspectives of local stakeholders is essential for just and effective biodiversity conservation. Plural valuation, making visible the diverse values people hold in relation to nature, has emerged as a key approach towards better inclusion of stakeholders' perspectives.\n                \n                \n                  So far, plural valuation has mainly focused on positive values, leaving [...]
