http_interactions:
- request:
    method: GET
    uri: https://api.zotero.org/users/5760254/groups
  response:
    status: 200
    headers:
      content-type: application/json
      zotero-api-version: '3'
      zotero-schema-version: '42'
      total-results: '18'
      link: <https://www.zotero.org/users/5760254/groups>; rel="alternate"
    body:
      string: |-
        [
            {
                "id": 4589462,
                "version": 144,
                "links": {
                    "self": {
                        "href": "https://api.zotero.org/groups/4589462",
                        "type": "application/json"
                    },
                    "alternate": {
                        "href": "https://www.zotero.org/groups/ipbes_tca",
                        "type": "text/html"
                    }
                },
                "meta": {
                    "created": "2022-02-08T09:51:34Z",
                    "lastModified": "2026-09-29T22:13:35Z",
                    "numItems": 8380
                },
                "data": {
                    "id": 4589462,
                    "version": 144,
                    "name": "IPBES TCA",
                    "owner": 5760254,
                    "type": "PublicClosed",
                    "description": "<p>Library of the underlying references</p>\n<p><strong>Thematic assessment of the underlying causes of biodiversity loss and the determinants of transformative change and options for achieving the 2050 Vision for Biodiversity</strong></p>\n<p>This library contains the references cited in the assessment report, the summary for policymakers and the case studies.</p>\n\n<p>The tags indicate in which chapter(s) the references were cited.</p>\n\n<p>Download <a href=\"https://doi.org/10.5281/zenodo.11382215\" rel=\"nofollow\">the full assessment report</a></p>\n<p>See the <a href=\"https://www.ipbes.net/transformative-change-assessment\" rel=\"nofollow\">assessment information page on the IPBES website</a></p>\n<p>For enquiries, please contact the IPBES Data and Knowledge Unit (<a href=\"mailto:aidin.niamir@senckenberg.de\">aidin.niamir@senckenberg.de</a>)</p>",
                    "url": "https://www.ipbes.net/transformative-change-assessment",
                    "hasImage": 1,
                    "libraryEditing": "admins",
                    "libraryReading": "all",
                    "fileEditing": "admins",
                    "admins": [
                        5761202,
                        5825730,
                        8911741,
                        9690307,
                        9788811,
                        10318906,
                        10553812
                    ],
                    "members": [
                        35711,
                        72853,
                        369041,
                        935763,
                        1293242,
                        1298880,
                        1724299,
                        1828253,
                        2686960,
                        2838572,
                        2987500,
                        3322638,
                        5016718,
                        5591252,
                        5821515,
        [...]
